.header{

    margin-bottom: 1rem;
    background:rgb(5, 42, 87);
    text-align: center;
    padding: 2rem;
    color: bisque;
    
    
}
.navMenu{
    margin-bottom: 1rem;
    background:rgb(85, 82, 161);
    text-align: center;
    padding: 0.6rem;
    color:burlywood;

}

.header1{
    width: 21.5%;
    background-color: lightgreen;
    padding: 2rem;
    height: 10rem;
    float: left;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 1rem;
    
}
.header3{
    width: 21%;
    background-color: lightgreen;
    height: 10rem;
    padding: 2rem;
    float: right;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 1rem;
    
}
.header2{
    width: 56%;
    background-color: lightgreen;
    color: white;
    text-align: center;
    padding: 2rem;
    height: 10rem;
    float: left;
    box-sizing: border-box;
    margin-bottom: 1rem;
    
}
.Thank{
     /* background-color: dimgray;
     text-align: center;
     padding: 2rem;
     margin-bottom: 5rem; */
     margin-top:12rem;
     background:rgb(6, 240, 201);
     text-align: center;
     padding: 2rem;
     color: bisque; 
}